@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
body {
  font-family: 'Goldman', cursive;
  background-color: red;
  color: white;
  animation-name: bgchangecolor;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes bgchangecolor {
  0%{
    background-color: red;
  }
  25%{
    background-color: green;
  }
  50%{
    background-color: blue;
  }
  75%{
    background-color: purple;
  }
  100%{
    background-color: red;
  }

}

.travis {
  width: 280px;
  padding-top: 180px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* left: 575px; */
  z-index: 999;
  opacity: 100%;
  filter: grayscale(0%);
  animation-name: blinkk;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blinkk {
  0% {
    opacity: 0%;
  }
  40% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.travis:hover {
  opacity: 100%;
  animation-duration: 0s;
}

.container{
  position: relative;
  height: 100%;
  width: 100%;
}

.text {
  position: relative;
  text-align: center;
  font-size: 70px;
  z-index: 999;
  margin-top: -28px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
}

.text-2 {
  position: relative;
  text-align: center;
  font-size: 14px;
  margin-top: -10px;
  line-height: 18px;
  z-index: 999;
  color: red;
  animation-name: blinkinfinite;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blinkinfinite {
  0% {
    color: red;
  }
  40% {
    color: red;
  }
  100% {
    color: black;
  }
}

.picture-location {
  position: absolute;
  top: 0px;
  width: 400px;
  height: auto;
  background-size: cover;
  /* filter: grayscale(100%); */
  opacity: 50%;
}

.album-name-year {
  position: relative;
  text-align: center;
  font-size: 4px;
  z-index: 999;
  letter-spacing: 3px;
  margin-top: 60px;
}

.picture-location-2 {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 400px;
  height: auto;
  background-size: cover;
  /* filter: grayscale(100%); */
  opacity: 50%;
}

.picture-location-3 {
  position: absolute;
  top: 0px;
  left: 600px;
  width: 400px;
  height: auto;
  background-size: cover;
  /* filter: grayscale(100%); */
  opacity: 50%;
}

.picture-location-4 {
  position: absolute;
  top: 0px;
  left: 900px;
  width: 400px;
  height: auto;
  background-size: cover;
  /* filter: grayscale(100%); */
  opacity: 50%;
}

.picture-location-5 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 400px;
  height: auto;
  background-size: cover;
  /* filter: grayscale(100%); */
  opacity: 50%;
}

.picture-location-6 {
  position: absolute;
  top: 400px;
  width: 400px;
  height: auto;
  background-size: cover;
  /* filter: grayscale(100%); */
  opacity: 50%;
}

.picture-location-7 {
  position: absolute;
  top: 400px;
  left: 300px;
  width: 400px;
  height: auto;
  background-size: cover;
  /* filter: grayscale(100%); */
  opacity: 50%;
}

.picture-location-8 {
  position: absolute;
  top: 400px;
  left: 600px;
  width: 400px;
  height: auto;
  background-size: cover;
  /* filter: grayscale(100%); */
  opacity: 50%;
}

.picture-location-9 {
  position: absolute;
  top: 400px;
  left: 900px;
  width: 400px;
  height: auto;
  background-size: cover;
  /* filter: grayscale(100%); */
  opacity: 50%;
}

.picture-location-10 {
  position: absolute;
  top: 400px;
  right: 0px;
  width: 400px;
  height: auto;
  background-size: cover;
  /* filter: grayscale(100%); */
  opacity: 50%;
}
